.main {
  grid-template-columns: 1fr;
  grid-template-areas: "header" "section" "footer";
}

.header {
  padding-top: 10px;
  text-align: center;
  margin-top: 0;
}

.header .menu-btn {
  display: block;
}

.header .nav {
  display: none;
}

.header nav ul {
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: section;
}

.greeting-text__container {
  width: 100%;
  padding: 0 20px;
}

.greeting-text--title {
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.greeting-text--subtitle {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 20px;
}

.icon__container {
  width: 100%;
}

.software-skills__container {
  width: 100%;
  padding: 0 20px;
}

.software-skills--title {
  font-size: 30px;
}

.software-skills__container--list {
  font-size: 16px;
}

.software-skills__container--arquitecture {
  width: 100%;
  padding: 0 20px;
}

.education-text__container {
  width: 100%;
  padding: 0 20px;
}

.education-text--title {
  font-size: 30px;
  margin-top: 20px;
}

.education-subtext--title {
  font-size: 20px;
}

.education-text--subtitle {
  font-size: 16px;
  line-height: normal;
}

.education-container--border {
  margin: 20px 0;
}

.education--header {
  font-size: 30px;
}

.degree-text-container {
  margin: 0;
  padding: 0 20px;
}

.degree-text--title {
  font-size: 16px;
}

.degree-text--subtitle {
  font-size: 14px;
}

.degree-text--subtitle-year {
  font-size: 12px;
}

.education-container--header {
  font-size: 30px;
}

footer {
  font-size: 16px;
}